<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>嘴砲</title>
</head>
<body>
  <h1>歡迎來到嘴砲擂台</h1>
  <a href="/auth/facebook">
    <button>以FB登入</button>
  </a>
  <a href="/topicList">議題列表</a>
  <a href="/hot">熱門議題</a>
  <h1>一句經典的slogan</h1>
</body>
</html>
