@media screen and (max-width: 767px) {
body{
    background-color: black;
}

#logo{
    content: url("../image/logo_small.png");
    width: 150px;
}

div h1{
    font-size: 100px;
}

#main{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 500px;
}

#plug1{
    display: inline-block;
    position: absolute;
    right: 75%;
    z-index: 1;
}

#plug2{
    position: absolute;
    left: 52%;
    z-index: 10;
}
}
