@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC', sans-serif;
}

.title{
  width: 44.53125%;
  height:65px;
  float: left;
  display: inline-block;
  margin-top: 96px;
  margin-left: 27.5%;
  border-radius: 100px;
  font-size: 1.5em;
  background-color: #64B5F6;
}

.title p {
  text-align: center;
  margin-top: 18px;
}

.us_left{
  width:76.5625%;
  height: 200px;
  margin-left: 3.75%;
  display: inline-block;
  float: left;
  margin-top: 77px;
}

.us_right{
  width:76.5625%;
  height: 200px;
  margin-right: 3.75%;
  display: inline-block;
  float: right;
  margin-top: 77px;
}


.image_set_left{
  border-radius: 50%;
  width: 21%;
  margin: 0;
  float: left;
  display: inline-block;
  height: 200px;
}

.image_set_right{
  border-radius: 50%;
  margin: 0;
  width: 21%;
  float: right;
  display: inline-block;
  height: 200px;
}

.our_info_left{
  height: 200px;
  width: 58.265%;
  background-color: #90CAF9;
  margin-left: 11.2%;
  float: left;
  display: inline-block;
    border-radius: 30px;
}

.our_info_right{
  height: 200px;
  width: 58.265%;
  background-color:#90CAF9;
  margin-right: 11.9%;
  float: right;
  display: inline-block;
  border-radius: 30px;
}

footer{
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 77px;
}

footer p{
  text-align: center;
}

.li_left {
  font-size: 2em;
  margin-top: 20px;
  text-align: left;
}

.li_right {
  font-size: 2em;
  margin-top: 20px;
  text-align:left;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .content{
    max-width: 1280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 100%;
  }
  .content{
  width: 100%;
  }

  .us_left{
    width:100%;
    margin-left: 3.75%;
    display: inline-block;
    float: left;
    margin-top: 77px;
  }

  .us_right{
    width:100%;
    margin-left: 3.75%;
    display: inline-block;
    float: left;
    margin-top: 77px;
  }

  .our_info_left{
    margin-left: 0;
  }

  .our_info_right{
    margin-left: 0;
    margin-right:0;
    float: left;
  }

  .image_set_left{
    border-radius: 50%;
    margin-right: 5%;
    float: left;
    display: inline-block;
    height: 200px;
  }

  .image_set_right{
    border-radius: 50%;
    margin-right: 5%;
    float: left;
    display: inline-block;
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .content{
    width: 100%;
  }

  .image_set_left{
    border-radius: 50%;
    margin-left: 29%;
    width: 32%;
    float: left;
    display: inline-block;
    height: 200px;
  }

  .image_set_right{
    border-radius: 50%;
    margin-left: 29%;
    width: 32%;
    float: left;
    display: inline-block;
    height: 200px;
  }

  .li_left {
    font-size: 1em;
  }

  .li_right {
    font-size: 1em;
  }


  .our_info_left{
    margin-top: 20px;
    margin-left: 20%;
  }

  .our_info_right{
    margin-top: 20px;
    margin-left: 20%;
    float: left;
  }

  .us_left{
    width:100%;
    height: 400px;
    margin-left: 3.75%;
    display: inline-block;
    float: left;
    margin-top: 77px;
  }

  .us_right{
    width:100%;
    height: 400px;
    margin-left: 3.75%;
    display: inline-block;
    float: left;
    margin-top: 77px;
  }
}
