@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  margin: 0px;
  background-color: #FEF4EC;
}

#navbar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  height: 100px;
  width: 100%;
  overflow: hidden;
}

#logo {
  height: 100%;
  display: inline-block;
}

#logo img {
  max-height: 100%;
  max-width: 100%;
}

#searchInput {
  border-radius: 1em;
  border-color: transparent;
  width: 25%;
  height: 50%;
  display: inline-block;
  margin-right: 0.5em;
  float: right;
  font-size: 2em;
  background-color: #CCCCCC;
}

#searchIcon {
  height: 50%;
  float: right;
  display: inline-block;
  cursor: pointer;
}

.dynMarginTop {
  margin-top: 25px;
}

#landing {
  background-image: url('../image/cover.png');
  background-size: cover;
  height: 800px;
}

#slogan {
  height: 100px;
  width: 70%;
  margin-top: 200px;
  margin-left: 5%;
  display: inline-block;
}

#slogan img {
  width: 100%;
}

#welcomeText {
  height: 50px;
  width: 60%;
  color: white;
  margin-top: 30px;
  margin-left: 5%;
  display: inline-block;
  font-size: 2.5em;
}

#buttons{
  float: right;
  display: inline-block;
  margin-top: 180px;
  margin-right: 2%;
  margin-bottom: 50px;
  width: 35%;
}

.button {
  width: 35%;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 50px;
  display: inline-block;
  margin-left: 10%;
  border-radius: 5px;
  font-size: 2em;
  color: black;
  padding: 0.2em;
  text-align: center;
}

.button p {
  display: inline-block;
  margin: 0;
}

#hotTitle {
  margin: 0px;
  display: inline-block;
  margin-top: 1em;
}

#titleContainer {
  text-align: center;
  display: inline-block;
}

footer {
  height: 75px;
  background-color: #AAAAAA;
}

@media screen and (min-width: 1280px) {
  #logo {
    max-width: 40%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  #logo {
    max-width: 60%;
  }

  #searchInput {
    width: 40%;
  }

  #buttons{
    display: inline-block;
    margin-top: 200px;
    margin-bottom: 50px;
    width: 50%;
  }

  .button {
    height: 35px;
    width: 35%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 5%;
    text-align: center;
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  #searchInput {
    display: none;
    width: 80%;
  }

  #logo {
    max-width: 80%;
  }

  #slogan {
    width: 80%;
    margin-top: 250px;
    margin-left: 10%;
  }

  #welcomeText {
    width: 80%;
    margin-top: 75px;
    margin-left: 10%;
  }

  #buttons{
    display: inline-block;
    margin-top: 50px;
    margin-right: 20%;
    margin-bottom: 50px;
    width: 60%;
  }

  .button {
    height: 35px;
    width: 100%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
    display: inline-block;
  }
}
