body {
  margin: 0px;
  background-color: #BBBBBB;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.fillParentWidth {
  width: 100%;
}

#navbar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  height: 100px;
  width: 100%;
}

#logo {
  height: 100%;
  width: 30%;
  display: inline-block;
}

#logo img {
  height: 100%;
}

#searchInput {
  border-radius: 1em;
  width: 25%;
  height: 50%;
  display: inline-block;
  float: right;
  font-size: 2em;
}

#searchIcon {
  height: 50%;
  float: right;
  display: inline-block;
  cursor: pointer;
}

.dynMarginTop {
  margin-top: 25px;
}

#landing {
  background-image: url('../image/cover.jpg');
  background-size: cover;
  height: 500px;
}

#slogan {
  height: 50px;
  width: 50%;
  background-color: yellow;
  margin-top: 250px;
  margin-left: 5%;
  display: inline-block;
}

#buttons{
  float: right;
  display: inline-block;
  margin-top: 400px;
  margin-right: 2%;
  margin-bottom: 50px;
  width: 35%;
}

.button {
  height: 35px;
  width: 35%;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 10%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

#hot {
  background-color: #FFAAAA;
  height: 1000px;
  text-align: center;
}

#hotTitle {
  margin: 0px;
}

svg {

}

footer {
  height: 75px;
  background-color: #AAAAAA;
}
