p{
  text-align: center;
}

.issue_list{
  margin-top: 55px;
  margin-left: 27.5%;
  width: 45%;
  background-color: grey;
  display: inline-block;
}

.hot_issue{
  margin-left: 3.90625%;
  margin-top: 50px;
  width: 44.6875%;
  display: inline-block;
}

.issueSectionTitle {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-width: 2px;
  border-color: blue;
  border-style: solid;
  border-radius: 5px;
}

.issueEntry {
  background-color: #8EB4E3;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 2em;
  padding: 1em;
  box-sizing: border-box;
}

.latest_issue{
  margin-left: 2.8125%;
  margin-top: 50px;
  width: 44.6875%;
  display: inline-block;
}

.all_issue{
  margin-top: 57px;
  margin-left: 20%;
  width: 60%;
  display: inline-block;
  background-color: grey;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .hot_issue {
    width: 90%;
    margin-left: 5%;
  }

  .latest_issue {
    width: 90%;
    margin-left: 5%;
  }
}
