@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC', sans-serif;
}

p{
  color: black;
  text-align: center;
}

#issueContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.issue_list{
  margin-top: 55px;
  margin-left: 27.5%;
  width: 45%;
  background-color: #82B1FF;
  display: inline-block;
}

.hot_issue{
  margin-left: 3.90625%;
  margin-top: 50px;
  width: 44.6875%;
  display: inline-block;
}

.issueSectionTitle {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #E3F2FD;
}

.issueEntry {
  background-color: #8EB4E3;
  width: 100%;
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}

.issueEntry a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  word-wrap: break-word;
  word-break: break-all;
}

.issueEntry a div {
  display: flex;
  justify-content: space-around;
}

.issueEntry a p {
  max-width: 65%;
}

.issueEntry a div img {
  height: 50px;
}

.latest_issue{
  margin-left: 2.8125%;
  margin-top: 50px;
  width: 44.6875%;
  display: inline-block;
}

.all_issue{
  margin-top: 57px;
  margin-left: 27.5%;
  width: 45%;
  display: inline-block;
  background-color: #82B1FF;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .hot_issue {
    width: 90%;
    margin-left: 5%;
  }

  .latest_issue {
    width: 90%;
    margin-left: 5%;
  }
}
