#createTitle{
  margin-left: 8%;
  margin-top: 25px;
}

#createTitle input {
  width: 25%;
}

#discribeContent{
  margin-left: 8%;
  margin-top: 25px;
}

#category{
  margin-left: 8%;
  margin-top: 25px;
}

#opinion{
  margin-left: 8%;
  margin-top: 25px;
}

#submit{
  margin-left: 50%
}
