body{
  margin-left: 7%;
  margin-right: 7%;
}

#logo{
  /*height: 70%;
  width: 30%;*/
  width: 300px;
  margin-left: 30px;
}

#createTitle{
  margin-left: 8%;
  margin-top: 50px;
}

#discribeContent{
  margin-left: 8%;
  margin-top: 50px;
}

#category{
  margin-left: 8%;
  margin-top: 50px;
}

#opinion{
  margin-left: 8%;
  margin-top: 50px;
}

#submit{
  margin-left: 50%
}
