@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC', sans-serif;
}

.searchResult {
  width: 100%;
  height: 50px;
  margin-bottom: 2px;
  display: inline-block;
  text-align: center;
}

.searchResult div {
  background-color: #8EB4E3;
  color: black;
}

.titleContainer {
  height: 100%;
  width: 64%;
  padding-left: 0.5em;
  display: inline-block;
}

.titleContainer p {
  float: left;
  font-size: 2em;
  margin: 0;
  margin-top: 5px;
}

.dateContainer {
  height: 100%;
  width: 200px;
  display: inline-block;
  text-align: center;
}

.dateContainer p {
  font-size: 2em;
  margin: 0;
  margin-left: 10px;
  margin-top: 6px;
  float: left;
}

.messageCount {
  height: 100%;
  width: 100px;
  display: inline-block;
}

.messageCount img {
  height: 100%;
  display: inline-block;
  margin: 0;
}

.messageCount p {
  display: inline-block;
  float: right;
  font-size: 2em;
  margin: 0;
  margin-top: 6px;
}

#searchResultContainer {
  display: block;
}

@media screen and (max-width: 767px) {
  .titleContainer {
    width: 95%;
    margin: 0;
    margin-top: 5px;
  }

  .dateContainer {
    width: 70%;
    margin: 0;
  }

  .messageCount {
    width: 25%;
    margin: 0;
  }
}
