.searchResult {
  width: 80%;
  height: 50px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: green;
  border-radius: 0.5em;
  color: white;
  padding-left: 1em;
  display: inline-block;

}

.title {
  float: left;
  font-size: 2em;
  margin: 0;
  margin-top: 5px;
}

.messageCount {
  height: 100%;
  float: right;
}

.messageCount img {
  height: 100%;
  display: inline-block;
  margin: 0;
}

.messageCount p {
  display: inline-block;
  font-size: 2em;
  margin: 0;
}

#searchResultContainer {
  text-align: center;
}
